<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .wrapper {
            display: flex;
        }

        #nav {
            width: 20%;
            background-color: #FF6347;
            height: 100vh;
        }

        #chatroom {
            width: 80%;
            background-color: #00FFFF;
            height: 100vh;
            position: relative;
        }

        .section-content-box {
            position: absolute;
            bottom: 5%;
            left: 5%;
        }

        .section-content-box>input {
            width: 400px;
            height: 19px;
        }

        .info-user {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .create-room {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 15%;
        }

        .join-room {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 25%;
        }

        .number-room {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 35%;
        }

        .room {
            padding: 10px;
            border: 1px solid black;
            display: inline-block;
            position: absolute;
            right: 2%;
            top: 55%;
        }

        .info-user>button,
        h2 {
            display: inline-block;
        }

        .section-message-box {
            line-height: 40px;
            font-size: 23px;
            display: inline-block;
            max-height: 800px;
            margin: 10px;
            overflow-y: scroll;
            width: 400px;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <div id="nav">
            <h3 style="margin-left: 20px ;"> danh sach nguoi dung</h3>
            <ul id="list-users">
            </ul>
        </div>
        <div id="chatroom">


            <div class="section-message-box">
                <ul>
                </ul>
            </div>


            <div class="section-content-box">
                <input type="text" name="" id="message-content">
                <button class="btn-send-message">send</button>
            </div>



            <div class="info-user">
                <h2 id="name-user">name</h2>
                <button id="btn-out">out</button>
            </div>

            <div class="create-room">
                <input type="text">
                <button id="create-room">create</button>
            </div>


            <div class="join-room">
                <input id="name-room" type="text">
                <button id="join-room">join</button>
            </div>


            <div class="number-room">
                <li>danh sach room</li>
                <ul id="danhsachroom">

                </ul>
            </div>


            <div class="room">
                <h3>trang chu</h3>
            </div>

        </div>
    </div>

    <div class="register-user">
        <input id="info-username" type="text">
        <button id="btn-register">register</button>
    </div>

    <script src="../public/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        socket = io("http://localhost:4000/")

        // Hàm để cuộn xuống cuối
        function scrollToBottom() {
            var messageBox = document.querySelector('.section-message-box');
            messageBox.scrollTop = messageBox.scrollHeight;
        }

        $(document).ready(() => {

            $(".wrapper").hide()
            $(".register-user").show()


            // join-room
            $("#join-room").click(() => {
                socket.emit("join-room", $("#name-room").val())
            })


            // khi click chuot vao o input va nhan phim enter
            $("#message-content").keypress((e) => {
                if (e.which === 13) {

                    if ($("#message-content").val() === "") {
                        return;
                    }

                    socket.emit("client-send-message", $("#message-content").val())
                    $("#message-content").val('') // Clear the input field
                    scrollToBottom(); // Cuộn xuống cuối
                }
            });



            $("#btn-send-message").click(() => {
                console.log("click1")
            })


            // gui username
            socket.on("server-send-username", (data) => {
                console.log("data ", data)
                if (data != "") {
                    $("#name-user").empty()
                    $("#name-user").append(data)
                    $(".wrapper").show(1000)
                    $(".register-user").hide(100)
                } else {
                    alert("da ton tai ten nguoi dung ")
                }
            })

            // danh sach cac nhom 
            socket.on("server-all-rooms", (data) => {
                console.log(data)
                $("#danhsachroom").empty()
                data.forEach(item => {
                    if (item.includes("create")) {
                        $("#danhsachroom").append(`<li> ${item}</li>`)
                    }

                })
            })

            // nhom hien tai
            socket.on("server-name-room", (data) => {
                console.log(data)
                $(".room").empty()
                $(".room").append(`<h3> phong hien tai ${data}</h3>`)
            })

            // gui all list users
            socket.on("server-send-arrayUsers", (data) => {
                $("#list-users").empty(); // Xóa danh sách người dùng cũ trước khi thêm mới

                data.forEach((item, index) => {
                    $("#list-users").append(`<li>${item}</li>`);
                });


            })

            // gui all list user
            socket.on("server-send-arrayUser", (data) => {
                $(".wrapper").hide(100)
                $(".register-user").show(1000)

            })

            // gui all messages
            socket.on("server-send-messages", data => {
                $(".section-message-box > ul").append(`<li> ${data.un} : ${data.ct} </li>`)
                scrollToBottom(); // Cuộn xuống cuối mỗi khi có tin nhắn mới
            })

            $("#btn-register").click(() => {
                socket.emit("client-send-username", $("#info-username").val())
            })

            $("#btn-out").click(() => {
                socket.emit("client-send-out")
            })

            $(".btn-send-message").click(() => {
                socket.emit("client-send-message", $("#message-content").val())
                scrollToBottom(); // Cuộn xuống cuối khi nhấn nút gửi
            })

            // phim enter

        })


    </script>
    <script src="../handle.js"></script>

</body>

</html>
